.pie-root {
  min-width: 480px;
}

.pie-header {
  text-align: center;
}

.pie-form-panel-body {
  padding-top: 0;
}

.pie-form-container {
  padding-left: 0;
  padding-right: 0;
}

.pie-form-control {
  padding-top: 15px;
}

.pie-item {
  margin-bottom: 0;
}

.pie-chart-panel {
  overflow: hidden;
}

@media (max-width: 767px) {
.pie-chart {
  position: relative;
  left: -160px;
}}

.pie-panel-loading {
  position: relative;
  z-index: 1;
}

.pie-panel-loading__overlap {
  position: absolute;
  z-index: 2;
}

.pie-panel-loading__overlap_skin_white-static {
  background: white;
  opacity: .8;
}

.pie-panel-loading__overlap_hidden {
  width: 0;
  height: 0;
}

.pie-panel-loading__overlap_visible {
  width: 100%;
  height: 100%;
}